<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yvesmatta.hindgametracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".GameProvider"
            android:authorities="com.yvesmatta.hindgametracker.gameprovider"
            android:exported="false" />

        <provider
            android:name=".PlayerProvider"
            android:authorities="com.yvesmatta.hindgametracker.playerprovider"
            android:exported="false" />
    </application>

</manifest>